<!DOCTYPE HTML>
<HTML XML:LANG="en-us" XMLNS="http://www.w3.org/1999/xhtml" LANG="en-us">
	<HEAD>
		<META HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">
		<TITLE>Analytics Tool</TITLE>
		<LINK REL="stylesheet" HREF="/media/coco/app/scripts/libs/bootstrap/css/bootstrap.css">
		<LINK REL="stylesheet" HREF="/media/excel_analytics/css/nrlm-export.css">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
		<script type="text/javascript">
		
		//Validations for form
		$(document).ready(function () {
			$("#export-to-excel-form").validate({
				rules: {
                	month: {
                		month_select_check : true,
                		required: true,
                	},
                	year: {
                		//datecheck checks if month-year is greater than or equal to current month, in which case error should be displayed
                		datecheck : {month : "month-list"},
                		// month-list is the id of month select-box
                		//Excetion checks if month-year combination results into few months of 2013 for which we don't have any data.
                		exception : {month : "month-list"}
                	},
				},
			   	highlight: function(element) {
			        $(element).parent().addClass("error");
			    },
			    unhighlight: function(element) {
			        $(element).parent().removeClass("error");
			    },
			});
			jQuery.validator.addMethod('month_select_check', function (value) {
		        return (value != '0')
		    }, "Please select month");
			jQuery.validator.addMethod('datecheck', function (value, element, options) {
				var check = false;
		    	var mon = $('#'+options.month).val();
		    	var year = value;
		    	var mapping = { Jan : 1 , Feb : 2, Mar : 3, Apr : 4, May : 5, Jun : 6, Jul : 7, Aug : 8, Sep : 9, Oct : 10, Nov : 11, Dec : 12 };
		    	var month = mapping[mon];
		    	var entry_date = new Date(year,month,1);
		    	var myDate = new Date();
		    	if (myDate > entry_date)
		    	  {
		    	  	check = true;
		    	  }
		    	else
		    	  {
		    	  	check = false;
		    	  }
		    	return check;
		    }, "Data not available for selected month and year");
			jQuery.validator.addMethod('exception', function (value, element, options) {
				var check = true;
		    	var mon = $('#'+options.month).val();
		    	var year = value;
		    	var mapping = { Jan : 1 , Feb : 2, Mar : 3, Apr : 4, May : 5, Jun : 6, Jul : 7, Aug : 8, Sep : 9, Oct : 10, Nov : 11, Dec : 12 };
		    	var month = mapping[mon];
		    	//Special case for 2013, Data not available till August 2013
		    	if (year == "2013")
		    		{
		    			if(month < 9 ){
		    				check = false;
		    			}
		    		}
		    	return check;
			}, "Data not available for selected month and year");
			$('#export-to-excel-form').on('change', function () {
		        $(this).valid();
		    });
		});
		
		// Populate the dropdown box of year according to current year. 		
		window.onload = function(){
			var sel = document.getElementById('year-list');
			var date = new Date();
			date.setMonth(date.getMonth() - 1);
			top_year = date.getFullYear();
			bottom_year = 2013;			
			for(var year = top_year; year >= bottom_year; year--) {
				var opt = document.createElement('option');
				opt.innerHTML = year;
			    opt.value = year;
			    sel.appendChild(opt);
			};
		};
		</script>
	</HEAD>
	<BODY>
		<div>
			{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}
		</div>
		<div>
			<legend>Export data to Excel</legend>
			<form class="form-horizontal" id="export-to-excel-form" action="." method="post">
				{% csrf_token %}
				<div class="control-group">
					<label class="control-label">
						Please select Month
					</label>
					<div class="controls">
		         		<select name="month" class="" id="month-list">
		         			<option value="0">Month</option>
  							<option value="Jan">Jan</option>
							<option value="Feb">Feb</option>
							<option value="Mar">Mar</option>
							<option value="Apr">Apr</option>
							<option value="May">May</option>
							<option value="Jun">Jun</option>
							<option value="Jul">Jul</option>
							<option value="Aug">Aug</option>
							<option value="Sep">Sep</option>
							<option value="Oct">Oct</option>
							<option value="Nov">Nov</option>
							<option value="Dec">Dec</option>
						</select>
						<br/>
		         	</div>
		        </div>
		        <div class="control-group">
					<label class="control-label">
						Please select Year
					</label>
					<div class="controls">
		         		<select name="year" class="" id="year-list">
						
						</select>
		         	</div>
		        </div>
		        <div class="control-group">
					<div class="controls">
		         		<button type="submit" class="btn">Submit</button>
		         	</div>
		        </div>
			</form>
		</div>		
	</BODY>
</HTML>